*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  text-align: center;
}

.btn1{
  cursor: pointer;
  border-style: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.btn1:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(79 57 246 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.mt-1{
  margin-top: 0.25rem;
}

.mt-5{
  margin-top: 1.25rem;
}

.mt-\[10px\]{
  margin-top: 10px;
}

.mt-\[30px\]{
  margin-top: 30px;
}

.mt-\[60px\]{
  margin-top: 60px;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

.cursor-pointer{
  cursor: pointer;
}

.list-none{
  list-style-type: none;
}

.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-4{
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-3{
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.justify-evenly{
  justify-content: space-evenly;
}

.gap-10{
  gap: 2.5rem;
}

.gap-5{
  gap: 1.25rem;
}

.divide-x-4 > :not([hidden]) ~ :not([hidden]){
  --tw-divide-x-reverse: 0;
  border-right-width: calc(4px * var(--tw-divide-x-reverse));
  border-left-width: calc(4px * calc(1 - var(--tw-divide-x-reverse)));
}

.rounded{
  border-radius: 0.25rem;
}

.rounded-\[15px\]{
  border-radius: 15px;
}

.rounded-full{
  border-radius: 9999px;
}

.border-none{
  border-style: none;
}

.bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-rose-700{
  --tw-bg-opacity: 1;
  background-color: rgb(190 18 60 / var(--tw-bg-opacity, 1));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.p-2{
  padding: 0.5rem;
}

.p-5{
  padding: 1.25rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-\[20px\]{
  padding-left: 20px;
  padding-right: 20px;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-\[10px\]{
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-\[30px\]{
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-\[60px\]{
  padding-top: 60px;
  padding-bottom: 60px;
}

.pl-\[50px\]{
  padding-left: 50px;
}

.text-center{
  text-align: center;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-5xl{
  font-size: 3rem;
  line-height: 1;
}

.font-bold{
  font-weight: 700;
}

.text-red-500{
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1));
}

.text-red-700{
  --tw-text-opacity: 1;
  color: rgb(185 28 28 / var(--tw-text-opacity, 1));
}

.text-red1{
  --tw-text-opacity: 1;
  color: rgb(236 0 63 / var(--tw-text-opacity, 1));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.underline{
  text-decoration-line: underline;
}

.outline-none{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.decora{
  text-decoration: none;
}

.hero{
  background-image: url('../image/hero1.png') !important;
  width: 100%;
  height: 100vh;
  margin-left: -10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  border-radius: 0 0 150px 150px;
}

.head{
  border-left: 10px solid red;
  margin-top: -50px;
  border-radius: 0 0 100px 100px;
}

.fide{
  position: fixed;
  top: 0;
  width: 100%;
}

.border1{
  border-left: 15px solid red;
}


.timeline{
     position: relative;
     max-width: 1200px;
     margin: 30px auto;
     background-color: rgb(243, 243, 241);
     z-index: -1;
     border-radius: 50%;
     padding: 20px;
}


.left-container{
  left: -10px;
  top: 50px;
  padding: 50px;
  & h1{
    text-align: justify;
    margin-top: 20px;
    font-size: 35px;
  }
}

.btn2{
  border: 2px solid red;
  width: 150px;
  border-radius: 8px;
  padding: 8px 5px;
  margin-top: 50px;
  cursor: pointer;
  padding: 5px 20px;
}

.right-container{
  left: 51%;
  top: -200px;
}

.timeline::after{
  content: '';
  position: absolute;
  width: 3px;
  height: 130%;
  background-color: rgb(127, 127, 127);
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  opacity: 0;
  animation: moveline 5s linear forwards;
}

@keyframes moveline{
  0%{
    opacity: 1;
   height: 0;


  }
  100%{
    height: 130%;
    opacity: 1;
  }
}


.dot1{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: 49.3%;
  top: 5px;
  z-index: 10;
  background-color: rgb(0, 239, 111);
}

.dot2{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: 49.3%;
  top: 70%;
  z-index: 10;
  background-color: rgb(0, 239, 111);
}


.dot3{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: 49.3%;
  top: 120%;
  z-index: 10;
  background-color: rgb(3, 244, 124);
}

.text1Img{
  width: 400px;
  position: relative;

}

.discover{
  width: 95%;
  margin-left: 50px;
  z-index: -10;
  padding: 100px 200px;
  margin-top: 150px;
  background-color: rgb(255, 255, 255);
}

.crea{
     padding: 50px 100px;
     background-color: rgb(252, 233, 209);
     border-radius: 0 0 50% 50%;
     height: 400px;
}

footer{
     margin-top: 120px;
     padding: 10px 50px;
}

